// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.edit-box{
  width: 100px;
  height: 20px;
  background: maroon;
  border-radius: 50px;
  transition: all 2s;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: blue;
  transition: all 2s;
}

.edit-box:hover{
  background-color: #45DE72;
}

.circle:hover{
  transform: translate(80px);
}

.product-form{
  width: 500px;

}

.new-product-layout{
  width: 100vw;
  height: 100vh;
}
.text-dark-purple{
  color: darkmagenta;
}